---
const { frontmatter } = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#60b8eb" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="yourlocalonion">
    <meta content={frontmatter.title} property="og:title" />
    <meta content="fanmade wubby lore" property="og:description" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-gray-200 m-1">
    <div class="mt-4 text-center sm">
        <h1 class="text-3xl inline italic text-black sm:block">"{frontmatter.title}"</h1>
        <h2 class="text-black inline sm:block">{frontmatter.chapter}</h2>
    </div>
    <div class="prose prose-h2:mb-2 prose-h2:mt-3 mx-auto mt-3 border-solid max-w-3xl border-2 border-gray-400 bg-gray-300 text-black p-4">
        <slot />
    </div>
    <div class="max-w-3xl mx-auto mt-2 text-xl px-3 md:px-0">
      <a href={frontmatter.back} id="fmback" class="float-left"><span id="fmbicon" class="material-symbols-outlined align-middle"></span><span class="align-middle">{frontmatter.backname}</span></a>
      <a href={frontmatter.next} id="fmnext" class="float-right"><span class="align-middle">{frontmatter.nextname}</span><span id="fmnicon" class="material-symbols-outlined align-middle"></span></a>
    </div>
    <script src="../scripts/wubbylore.js"></script>
  </body>
</html>